nav {
    display: flex;
    flex-direction: column;
}

header {
    height: 2em;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
}

header button {
    margin-left: 50px;
}